doctype html 
html 
    head 
        title login 메인
    body 
        h2  Login Test 
        ul 
            li 
                a(href="/list")     목록보기
            li
                a(href="/login")     가입하기
            li 
                a(href="/update")     수정하기
            li
                a(href="/delete")     삭제하기