<!DOCTYPE html>
<html>
    <head>
        <title>ejs</title>
    </head>
    <body>
        <form method="post" action = "/new">
            user_name: <input type="text" name="name"> <p></p>
            emp_number: <input type="text" name="emp_number"> <p></p>
            email: <input type="email" name="email"><p></p>
            <input type="submit" value="Save">
        </form>
    </body>