doctype html 
html
    head 
        title language
    body 
        h1 
            a(href="#") Server Side Javascript
        p.message #{message}
        h2 Welcome 
        h3 hello, nodejs 
        form(action="/lang", method="post")
            p 
                input(type="text", name="title", placeholder="title")
            p 
                textarea(name="description", placeholder="description")
            p 
                input(type="submit" value="입력완료")

